<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>834443071247-t697hgcg2gcatc4m12qq3rpqdb9ckb25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834443071247-t697hgcg2gcatc4m12qq3rpqdb9ckb25</string>
	<key>API_KEY</key>
	<string>AIzaSyD0eDGi97TtXlQbiL8gF4D6HDVLgfF256s</string>
	<key>GCM_SENDER_ID</key>
	<string>834443071247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kz.hackteam.CleanCar</string>
	<key>PROJECT_ID</key>
	<string>megacleancar-ffd40</string>
	<key>STORAGE_BUCKET</key>
	<string>megacleancar-ffd40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:834443071247:ios:77180cedfa89b6b2</string>
	<key>DATABASE_URL</key>
	<string>https://megacleancar-ffd40.firebaseio.com</string>
</dict>
</plist>